<html lang="es-cl">
<head>
    {% include 'modulos/head.html' %}
    <title>Masterbikes</title>
</head>
<body>
    {% include 'modulos/navbar.html' %}

    <div class="section properties">
        <div class="container">
          <ul class="properties-filter">
            <li><a class="is_active" href="#!" onclick="obtenerProductos('/api/productos')">Mostrar Todo</a></li>
            <li><a href="#!" onclick="obtenerProductos('/api/productos/?id_tipo=1')">Bicicleta Tradicional</a></li>
            <li><a href="#!" onclick="obtenerProductos('/api/productos/?id_tipo=2')">Bicicleta Electrica</a></li>
            <li><a href="#!" onclick="obtenerProductos('/api/productos/?id_tipo=3')">Bicicleta Infantil</a></li>
  
          </ul>
  
        
  
        <div class="row properties-box" id="product-container">
          
      </div>
    </div>
    {% include 'modulos/footer.html' %}
    {% include 'modulos/modal.html' %}
</body>

{% include 'modulos/scripts.html' %}

<script>
    
    async function obtenerProductos(url = '/api/productos') {
  try {
    const response = await fetch(url);
    const result = await response.json();
    console.log(result);
    const productContainer = document.getElementById('product-container');

    productContainer.innerHTML = '';

    let row;

    result.forEach((product, index) => {
      if (index % 3 === 0) {
        row = document.createElement('div');
        row.classList.add('row');
        productContainer.appendChild(row);
      }

      const col = document.createElement('div');
      col.classList.add('col-lg-4', 'col-md-6');

      const item = document.createElement('div');
      item.classList.add('item');

      const link = document.createElement('a');
      link.href = "#";
      const img = document.createElement('img');
      if (product.img) {
        img.src = `data:image/jpeg;base64,${product.img}`;
      } else {
        img.src = `/static/img/default/tp${product.id_tipo}.jpg`; // Imagen estática en caso de no tener imagen en el producto
      }
      img.alt = "";
      link.appendChild(img);

      const category = document.createElement('span');
      category.classList.add('category');
      category.textContent = product.id_tipo; 

      const title = document.createElement('h4');
      const titleLink = document.createElement('a');
      titleLink.href = "property-details.html";
      titleLink.textContent = product.nombre;
      title.appendChild(titleLink);

      const ul = document.createElement('ul');

      const liRooms = document.createElement('li');
      liRooms.textContent = `Stock: ${product.cantidad} \n Precio ${product.precio}`;
      ul.appendChild(liRooms);

      const liBathrooms = document.createElement('li');
      liBathrooms.textContent = `Color: ${product.color}`;
      ul.appendChild(liBathrooms);

      const liArea = document.createElement('li');
      liArea.textContent = `Modelo: ${product.modelo}`;
      ul.appendChild(liArea);

      const liFloors = document.createElement('li');
      liFloors.textContent = `Garantía: ${product.garantia} Meses`;
      ul.appendChild(liFloors);

      const liParking = document.createElement('li');
      liParking.textContent = `Peso: ${product.peso} KG`;
      ul.appendChild(liParking);

      const mainButton = document.createElement('div');
      mainButton.classList.add('main-button');
      const buttonLink = document.createElement('a');
      buttonLink.href = "#";
      buttonLink.textContent = "Agregar a tu carrito";
      let enviar = JSON.stringify(product);
      buttonLink.setAttribute('onclick', `agregarAlCarrito(${enviar})`);
      mainButton.appendChild(buttonLink);

      item.appendChild(link);
      item.appendChild(category);
      item.appendChild(title);
      item.appendChild(ul);
      item.appendChild(mainButton);
      col.appendChild(item);
      row.appendChild(col);
      productContainer.appendChild(row);
    });

  } catch (err) {
    console.log(err);
  }
}
    
            $(document).ready(async function() {
              await obtenerProductos();
             });
    
      
    </script>
</html>