<!-- Modal del Carrito de Compras -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cartModalLabel">Carrito de Compras</h5>
          
        </div>
        <div class="modal-body">
          <div class="item">
            <img src="https://www.oxfordstore.cl/media/catalog/product/cache/c4a478198c7db319da39da4aa5b81da7/b/a/ba2951_merak_1_29_negro-blanco_01_sin_cable.png" alt="" style="width: 100px;">
            <div class="details">
              <h6>Bicicleta Oxford</h6>
              <p>Precio: 400000 CLP</p>
              <p>Cantidad: 1</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <a href="/pagarwebpay" class="btn btn-primary">Ir a Pagar</a>
        </div>
      </div>
    </div>
</div>