<div class="marquee">
    <div id="barraQueSeMueve" class="barraQueSeMueve"></div>
</div> 
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a href="/" class="logo">
                        <h1>MasterBikes</h1>
                    </a>
                    <ul class="nav">
                        <li><a href="/" class="active">Home</a></li>
                        <li><a href="/productos">Productos</a></li>
                        <li><a href="/contactanos">Contáctanos</a></li>
                        <li><a href="#" id="weather">Clima: <span id="weather-info"></span></a></li>
                        <li><a href="#" onclick="openCartModal()"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>